
ul{
    list-style-type: none;
    padding: 0;
    margin-top:0;
    overflow: hidden;
    background-color: #f1f1f1;
    }
  ul>img{
    float: left;
    margin-top: 10px;
  }
  li {
    float: left;
  }
  li a {
    display:inline-block;
    color: #333;
    padding: 14px 20px;
    text-decoration: none;
  }
  @media screen and (max-width:600px){
    li{
        float: none;
    }
    ul{
        float: none;
    }
    li a{
      display: block;
      text-align: center;
    }
  }
  
  
